h1{background: linear-gradient(transparent 70%,#FFC0CB;"> 70%);}

h2:first-letter {
font-size: 2em;
color: #00FA9A;
}

div p｛
display: imline;
｝

body {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #FFC0CB　10%, #FFE4E1 90%);
  background: -moz-linear-gradient(45deg, #FFC0CB 10%, #FFE4E1 90%);
  background: -ms-linear-gradient(45deg, #FFC0CB 10%, #FFE4E1 90%);
  background: -o-linear-gradient(45deg, #FFC0CB 10%, #FFE4E1 90%);
  background: linear-gradient(45deg, #FFC0CB 10%, #FFE4E1 90%);
 }
